.sidebar-container{
    position:absolute;
    top:40px;
    left:-100%;
    height:450px;
    overflow:scroll;
    background-color:rgba(136, 136, 136, 0.379);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    backdrop-filter:blur(10px);
    z-index:3;
    transition:1s ease;
}
.open{
    left:0;
}
.close{
    left:-100%;
}
.sidebar-container::-webkit-scrollbar{
    display:none;
}
.session-list{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.list-item button{
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius:.3rem;
}
.delete-icon{
    position: relative;
    top:0;
    left:50%;
    transform:translate(-50%);
}